*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

div{
    height: 500px;
    width: 850px;
    background-color: #ffff00;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 
    /* 25px 0 rgba(255, 255, 255, 0.258), */
    -2px 0 0 15px black,
    -2px 0 5px 20px #b9b900
    ;
}

div:before{
    content: "" ;
    position: absolute;
    height: 450px;
    width: 780px;
    background-color: black;
    border-radius: 50%;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(
        at 50% 0%,
        #ffff00 40px,
        black 8px
    )
}

div:after{
    content: "" ;
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: 
    -200px 140px 0 50px #ffff00,
    200px 140px 0 50px #ffff00,
    -90px 150px 0 20px #ffff00,
    90px 150px 0 20px #ffff00,
    /* derecha */
    80px 140px 0 20px #ffff00,
    75px 140px 0 20px #ffff00,
    70px 130px 0 20px #ffff00,
    70px 135px 0 20px #ffff00,
    70px 150px 0 20px #ffff00,
    70px 160px 0 20px #ffff00,
    70px 170px 0 20px #ffff00,
    70px 180px 0 20px #ffff00,
    130px 180px 0 28px #ffff00,
    /* izquierda */
    -80px 140px 0 20px #ffff00,
    -75px 140px 0 20px #ffff00,
    -70px 130px 0 20px #ffff00,
    -70px 135px 0 20px #ffff00,
    -70px 150px 0 20px #ffff00,
    -70px 160px 0 20px #ffff00,
    -70px 170px 0 20px #ffff00,
    -70px 180px 0 20px #ffff00,
    -130px 180px 0 28px #ffff00,
    /* cola */
    66px 136px 0 20px #ffff00,
    63px 146px 0 20px #ffff00,
    61px 156px 0 20px #ffff00,
    59px 166px 0 20px #ffff00,
    56px 176px 0 20px #ffff00,
    53px 186px 0 20px #ffff00,
    50px 196px 0 20px #ffff00,
    37px 200px 0 10px #ffff00,
    33px 210px 0 10px #ffff00,

    -66px 136px 0 20px #ffff00,
    -63px 146px 0 20px #ffff00,
    -61px 156px 0 20px #ffff00,
    -59px 166px 0 20px #ffff00,
    -56px 176px 0 20px #ffff00,
    -53px 186px 0 20px #ffff00,
    -50px 196px 0 20px #ffff00,
    -37px 200px 0 10px #ffff00,
    -33px 210px 0 10px #ffff00,

    0 224px 0 0.5px #ffff00,

    /* alas superiores */
    150px -145px 0 60px #ffff00,
    -150px -145px 0 60px #ffff00,
        
    /* Cabeza */
    0 -205px 0 18px #ffff00,
    -115px -145px 0 30px #ffff00,
    -110px -155px 0 30px #ffff00,
    -109px -165px 0 30px #ffff00,
    -108px -170px 0 30px #ffff00,
    -107px -175px 0 30px #ffff00,
    -106px -180px 0 30px #ffff00,
    -105px -185px 0 30px #ffff00,
    -83px -190px 0 10px #ffff00,
    -82px -195px 0 10px #ffff00,
    -81px -200px 0 10px #ffff00,
    -80px -205px 0 10px #ffff00,
    -79px -210px 0 10px #ffff00,
    -18px -210px 0 2px #ffff00,
    -20px -220px 0 2px #ffff00,

    115px -145px 0 30px #ffff00,
    110px -155px 0 30px #ffff00,
    109px -165px 0 30px #ffff00,
    108px -170px 0 30px #ffff00,
    107px -175px 0 30px #ffff00,
    106px -180px 0 30px #ffff00,
    105px -185px 0 30px #ffff00,
    83px -190px 0 10px #ffff00,
    82px -195px 0 10px #ffff00,
    81px -200px 0 10px #ffff00,
    80px -205px 0 10px #ffff00,
    79px -210px 0 10px #ffff00,
    18px -210px 0 2px #ffff00,
    20px -220px 0 2px #ffff00
    ;
}